/* Latest Bootstrap CDN min version*/

@import "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css";
* {
    box-sizing: border-box;
}

html {
    margin: 0;
    padding: 0;
    border: 0;
}

html,
body {
    height: 100%;
}

$purple: #00